<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>learn-vuejs</title>
    <link href=//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css rel=stylesheet type=text/css>
    <link href="//fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic" rel=stylesheet type=text/css>
    <link rel="stylesheet" href="//demo.productionready.io/main.css">
  </head>
  <body>
    <noscript>
      <strong>We're sorry but learn-vuejs doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </body>
</html>
