<template>
  <div class="article-page">

    <div class="banner">
      <div class="container">

        <h1>{{ article.title }}</h1>

        <div class="article-meta">
          <router-link :to="{ name: 'profile', params: { username: article.author.username }}">
            <img :src="article.author.image" />
          </router-link>
          <div class="info">
            <router-link 
              :to="{ name: 'profile', params: {username: article.author.username} }" 
              class="author"
            >
              {{ article.author.username }}
            </router-link>
            <span class="date">{{ article.createdAt }}</span>
          </div>
          <template v-if="getCurrentUser.username !== article.author.username">
            <button 
              class="btn btn-sm btn-outline-secondary" 
              v-if="!getCurrentProfile.following"
              @click="followUser(article.author.username)"
            >
              <i class="ion-plus-round"></i>
              &nbsp;
              Follow {{ article.author.username }} 
              <!-- <span class="counter">(10)</span> -->
            </button>
            <button 
              class="btn btn-sm btn-outline-secondary" 
              v-else
              @click="unFollowUser(article.author.username)"
            >
              <i class="ion-plus-round"></i>
              &nbsp;
              UnFollow {{ article.author.username }} 
              <!-- <span class="counter">(10)</span> -->
            </button>
            &nbsp;&nbsp;
            <button class="btn btn-sm btn-outline-primary">
              <i class="ion-heart"></i>
              &nbsp;
              Favorite Post <span class="counter">({{ article.favoritesCount }})</span>
            </button>
          </template>
          <template v-else>
            <span>
              <a :href="'/editor/'.concat(article.slug)" class="btn btn-sm btn-outline-secondary">
                <i class="ion-edit"></i>
                <span>&nbsp;Edit Article</span>
              </a>
              <span>&nbsp;&nbsp;</span>
              <button 
                class="btn btn-outline-danger btn-sm"
                @click="handleDeleteArticle(slug)"
              >
                <i class="ion-trash-a"></i>
                <span>&nbsp;Delete Article</span>
              </button>
            </span>
          </template>
        </div>

      </div>
    </div>

    <div class="container page">

      <div class="row article-content">
        <div class="col-md-12">
          <p v-html="article.body"></p>
          <ul class="tag-list" v-if="article.tagList">
            <li v-for="(item, index) in article.tagList" :key="index">
              <a href="#/tag/dragons" class="tag-default tag-pill tag-outline">
                {{ item }}
              </a>
            </li>
          </ul>
        </div>
      </div>

      <hr />

      <div class="article-actions">
        <div class="article-meta">
          <router-link :to="{ name: 'profile', params: {username: article.author.username} }">
            <img :src="article.author.image" />
          </router-link>
          <div class="info">
            <router-link 
              :to="{ name: 'profile', params: {username: article.author.username} }" 
              class="author"
            >
              {{ article.author.username }}
            </router-link>
            <span class="date">{{ article.createdAt }}</span>
          </div>

          <template v-if="getCurrentUser.username !== article.author.username">
            <button 
              class="btn btn-sm btn-outline-secondary"
              v-if="!getCurrentProfile.following"
              @click="followUser(article.author.username)"
            >
              <i class="ion-plus-round"></i>
              &nbsp;
              Follow {{ article.author.username }} 
              <!-- <span class="counter">(10)</span> -->
            </button>
            <button 
              class="btn btn-sm btn-outline-secondary"
              v-else
              @click="unFollowUser(article.author.username)"
            >
              <i class="ion-plus-round"></i>
              &nbsp;
              UnFollow {{ article.author.username }} 
              <!-- <span class="counter">(10)</span> -->
            </button>
            &nbsp;
            <button class="btn btn-sm btn-outline-primary">
              <i class="ion-heart"></i>
              &nbsp;
              Favorite Post <span class="counter">({{ article.favoritesCount }})</span>
            </button>
          </template>
          <template v-else>
            <span>
              <a :href="'/editor/'.concat(article.slug)" class="btn btn-sm btn-outline-secondary">
                <i class="ion-edit"></i>
                <span>&nbsp;Edit Article</span>
              </a>
              <span>&nbsp;&nbsp;</span>
              <button 
                class="btn btn-outline-danger btn-sm"
                @click="handleDeleteArticle(slug)"
              >
                <i class="ion-trash-a"></i>
                <span>&nbsp;Delete Article</span>
              </button>
            </span>
          </template>
        </div>
      </div>

      <Comments :slug="slug" />
    </div>

  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import Comments from '@/components/Comments'

export default {
  name: 'Article',
  props: ['slug'],
  components: {
    Comments
  },
  computed: {
    ...mapState('articles', ['article']),
    ...mapGetters('auth', ['getCurrentProfile', 'getCurrentUser'])
  },
  mounted() {
    this.getArticle(this.$route.params.slug)
  },
  methods: {
    ...mapActions('articles', ['getArticle', 'deleteArticle']),
    ...mapActions('auth', ['followUser', 'unFollowUser']),
    handleDeleteArticle(slug) {
      this.deleteArticle(slug).then(() => {
        this.$router.push('/')
      })
    }
  }
}
</script>
