<template>
  <div class="auth-page">
    <div class="container page">
      <div class="row">
        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Sign in</h1>
          <p class="text-xs-center">
            <router-link exact to="/register">Need an account?</router-link>
          </p>

          <ul class="error-messages" v-if="errors">
            <li v-for="(error, index) in errors" :key="index">
              {{ index }} {{ error }}
            </li>
          </ul>

          <form v-on:submit.prevent="login(user)">
            <fieldset class="form-group">
              <input 
                v-model="user.email"
                class="form-control form-control-lg" 
                type="text" 
                placeholder="Email"
                name="email"
              />
            </fieldset>
            <fieldset class="form-group">
              <input 
                v-model="user.password"
                class="form-control form-control-lg" 
                type="password" 
                placeholder="Password" 
                name="password"
              />
            </fieldset>
            <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
              Sign in
            </button>
          </form>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  name: 'Login',
  data() {
    return {
      user: {
        email: null,
        password: null
      }
    }
  },
  computed: {
    ...mapState('auth', ['errors']),
    ...mapGetters('auth', ['getCurrentUser'])
  },
  mounted() {
    if (localStorage.getItem('login')) {
      this.$router.push('/')
    }
  },
  methods: {
    ...mapActions('auth', ['userLogin', 'checkLogin']),
    login(user) {
      this.userLogin(user).then(() => {
        this.$router.push('/')
      })
    }
  }
}
</script>
