<template>
  <div class="settings-page">
    <div class="container page">
      <div class="row">

        <div class="col-md-6 offset-md-3 col-xs-12">
          <h1 class="text-xs-center">Your Settings</h1>

          <ul class="error-messages" v-if="errors">
            <li v-for="(error, index) in errors" :key="index">
              {{ index }} {{ error }}
            </li>
          </ul>

          <form v-on:submit.prevent="update(userCurrent)">
            <fieldset>
                <fieldset class="form-group">
                  <input 
                    class="form-control" 
                    type="text" 
                    placeholder="URL of profile picture"
                    v-model="userCurrent.image"
                  />
                </fieldset>
                <fieldset class="form-group">
                  <input 
                    class="form-control form-control-lg" 
                    type="text" 
                    placeholder="Your Name"
                    v-model="userCurrent.username"
                  />
                </fieldset>
                <fieldset class="form-group">
                  <textarea 
                    class="form-control form-control-lg"
                    rows="8"
                    placeholder="Short bio about you"
                    v-model="userCurrent.bio"
                  ></textarea>
                </fieldset>
                <fieldset class="form-group">
                  <input 
                    class="form-control form-control-lg" 
                    type="text" 
                    placeholder="Email" 
                    v-model="userCurrent.email"
                  />
                </fieldset>
                <fieldset class="form-group">
                  <input 
                    class="form-control form-control-lg" 
                    type="password" 
                    placeholder="Password"
                    v-model="userCurrent.password"
                  />
                </fieldset>
                <button class="btn btn-lg btn-primary pull-xs-right" type="submit">
                  Update Settings
                </button>
            </fieldset>
          </form>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  name: 'Settings',
  computed: {
    ...mapState('auth', ['user', 'errors']),
    ...mapGetters('auth', ['getCurrentUser']),
    userCurrent: function() {
      return {
        ...this.getCurrentUser
      }
    }
  },
  methods: {
    ...mapActions('auth', ['updateUser']),
    update(user) {
      this.updateUser(user).then(() => {
        this.$router.push('/')
      })
    }
  }
}
</script>
