<template>
  <div class="col-md-9">
    <ArticleListNav :tagname="currentTag" />

    <div class="article-preview" v-for="(item, index) in articles.articles" :key="index">
      <div class="article-meta">
        <router-link :to="{ name: 'profile', params: { username: item.author.username }}">
          <img :src="item.author.image" />
        </router-link>
        <div class="info">
          <a :href="'articles/'.concat(item.slug)" class="author">{{ item.author.username }}</a>
          <span class="date">{{ item.createdAt }}</span>
        </div>
          <button 
            class="btn btn-outline-primary btn-sm pull-xs-right"
            :class="{'active': item.favorited}"
            @click="handleFavoriteArticle({slug: item.slug, isFavorite: item.favorited})"
          >
            <i class="ion-heart"></i> {{ item.favoritesCount }}
          </button>
      </div>
      <a :href="'articles/'.concat(item.slug)" class="preview-link">
        <h1>{{ item.title }}</h1>
        <p>{{ item.description }}</p>
        <span>Read more...</span>
        <ul class="tag-list">
          <li 
            class="tag-default tag-pill tag-outline" 
            v-for="(item, index) in item.tagList" :key="index"
          >
            <span>{{ item }}</span>
          </li>
        </ul>
      </a>
    </div>

    <Pagination :pages="pages" :currentPage="currentPage" @pageUpdate="currentPage = $event" />
  </div>
</template>

<script>
import ArticleListNav from '@/components/ArticleListNav'
import Pagination from '@/components/Pagination'
import { mapState, mapActions } from 'vuex'

export default {
  name: 'ArticleList',
  props: ['currentTag'],
  data() {
    return {
      currentPage: 1,
      perPage: 20
    }
  },
  components: {
    ArticleListNav,
    Pagination
  },
  computed: {
    ...mapState('articles', ['articles']),
    filters() {
      let filters = {
        limit: this.perPage,
        offset: (this.currentPage - 1) * this.perPage
      }
      return filters
    },
    pages() {
      return [...Array(Math.ceil(this.articles.articlesCount / this.perPage)).keys()].map(e => e + 1)
    }
  },
  mounted() {
    this.getArticles(this.filters)
  },
  watch: {
    currentPage(newValue) {
      this.filters.offset = (newValue - 1) * this.perPage
      this.getArticles(this.filters)
    },
    currentTag(newTag) {
      this.filters.tag = newTag
      this.getArticles(this.filters)
      this.$router.push(`/tag/${this.currentTag}`)
    }
  },
  methods: {
    ...mapActions('articles', ['getArticles', 'postFavoriteArticle', 'getArticleOfTag']),
    handleFavoriteArticle({slug, isFavorite = false}) {
      let token = localStorage.getItem('login')
      if(!token) {
        this.$router.push('/login')
        return
      }
      this.postFavoriteArticle({slug, config: this.filters, isFavorite})
    }
  }
}
</script>
