<template>
  <div class="feed-toggle">
    <ul class="nav nav-pills outline-active">
      <li class="nav-item" v-if="getCurrentUser">
        <a class="nav-link" href="">Your Feed</a>
      </li>
      <li class="nav-item">
        <router-link class="nav-link" active-class="active" exact to="/">Global Feed</router-link>
      </li>
      <li class="nav-item" v-if="tagname">
        <router-link 
          class="nav-link" 
          :to="{ name: 'TagArticles', params: { tagname: tagname }}"
          active-class="active"
        >
          {{ tagname }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'ArticleListNav',
  props: ['tagname'],
  computed: {
    ...mapGetters('auth', ['getCurrentUser'])
  }
}
</script>
