<template>
  <div class="article-preview">
    <div class="article-meta">
      <router-link :to="{ name: 'profile', params: { username: item.author.username }}">
        <img :src="item.author.image" />
      </router-link>
      <div class="info">
        <a :href="item.slug" class="author" v-text="item.author.username"></a>
        <span class="date" v-text="item.createdAt"></span>
      </div>
      <button 
        class="btn btn-outline-primary btn-sm pull-xs-right"
        :class="{'active': item.favorited}"
        @click="handleFavoriteArticle({slug: item.slug, isFavorite: item.favorited})"
      >
        <i class="ion-heart"></i> {{ item.favoritesCount }}
      </button>
    </div>
    <a :href="'/articles/'.concat(item.slug)" class="preview-link">
      <h1>{{ item.title }}</h1>
      <p>{{ item.description }}</p>
      <span>Read more...</span>
    </a>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'ArticleProfile',
  props: ['item', 'isProfileOrFav', 'filters'],
  methods: {
    ...mapActions('articles', ['postFavoriteArticle']),
    handleFavoriteArticle({slug, isFavorite = false}) {
      let token = localStorage.getItem('login')
      if(!token) {
        this.$router.push('/login')
        return
      }
      this.postFavoriteArticle({slug, config: this.filters, isFavorite, isProfileOrFav: this.isProfileOrFav})
    }
  }
}
</script>

