<template>
  <div class="row">

    <div class="col-xs-12 col-md-8 offset-md-2">

      <template v-if="getCurrentUser.username">
        <form class="card comment-form" v-on:submit.prevent="postComment({ comment, slug })">
          <div class="card-block">
            <textarea 
              class="form-control" 
              placeholder="Write a comment..." 
              rows="3"
              v-model="comment.body"
            ></textarea>
          </div>
          <div class="card-footer">
            <img :src="getCurrentUser.image" class="comment-author-img" />
            <button class="btn btn-sm btn-primary" type="submit">
              Post Comment
            </button>
          </div>
        </form>
      </template>
      <template v-else>
        <p>
          <router-link exact to="/login" class="">Sign in</router-link>
          or
          <router-link exact to="/register" class="">sign up</router-link>
          to add comments on this article.
        </p>
      </template>

      <div class="card" v-for="(item, index) in comments" :key="index">
        <div class="card-block">
          <p class="card-text">{{ item.body }}</p>
        </div>
        <div class="card-footer">
          <a href="" class="comment-author">
            <img :src="item.author.image" class="comment-author-img" />
          </a>
          &nbsp;
          <a href="" class="comment-author">{{ item.author.username }}</a>
          <span class="date-posted">{{ item.createdAt }}</span>
          <span class="mod-options" v-if="item.author.username === getCurrentUser.username">
            <i class="ion-trash-a" @click="deleteComment({ slug, id: item.id })"></i>
          </span>
        </div>
      </div>
      
    </div>

  </div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  name: 'Comments',
  props: ['slug'],
  computed: {
    ...mapState('articles', ['comments', 'comment']),
    ...mapGetters('auth', ['getCurrentUser'])
  },
  mounted() {
    this.getComments(this.$route.params.slug)
  },
  methods: {
    ...mapActions('articles', ['getComments', 'postComment', 'deleteComment'])
  }
}
</script>
