<template>
  <ul class="pagination">
    <li 
      v-for="item in pages" 
      :key="item"
      class="page-item"
      :class="currentPage === item && 'active'"
      @click.prevent="changePage(item)"
    >
      <a href="#" class="page-link">{{ item }}</a>
    </li>
  </ul>
</template>

<script>

export default {
  name: 'Pagination',
  props: ['pages', 'currentPage'],
  methods: {
    changePage(curPage) {
      this.$emit('pageUpdate', curPage)
    }
  }
}
</script>
