<template>
  <div class="col-md-3">
    <div class="sidebar">
      <p>Popular Tags</p>

      <div class="tag-list">
        <a 
          class="tag-pill tag-default" 
          v-for="(item, index) in tags" :key="index"
        >
          <span @click.prevent="changeTag(item)">
            {{ item }}
          </span>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex'

export default {
  name: 'Tags',
  props: ['currentTag'],
  computed: {
    ...mapState('tags', ['tags'])
  },
  mounted() {
    this.getTags()
  },
  methods: {
    ...mapActions('tags', ['getTags']),
    changeTag(curTag) {
      this.$emit('pageUpdateTag', curTag)
    }
  }
}
</script>
